.main{
    width: 100%;
    .bgImg{
        width: 100%;
    }
    .title{
        width: 220px;
        height: 40px;
        position: absolute;
        top: 80px;
        left: 50%;
        margin-left: -110px;
        border-left: 10px solid rgb(187,36,33);
        background-image:-webkit-linear-gradient(bottom,rgb(195,75,65),rgb(187,36,33)); 
        -webkit-background-clip:text; 
        -webkit-text-fill-color:transparent; 
        font-size: 34px;
    }
    .number_{
        width: 100%;
        font-size: 100px;
        color: white;
        position: absolute;
        top: 140px;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        
    }
    .number_bom{
        display: inline-block;
        overflow: hidden;
        border-top: 0px;
        border-bottom: 15px solid #333;
        border-image: url(../../assets/border.png) 25 repeat;
        -webkit-border-image:url(../../assets/border.png) 25 repeat;
    }
    .leftStep{
        width: 160px;
        @media only screen and (device-width: 320px){
            width: 130px;
            left: 40px;
            top: 320px;
        }
        height: 768px;
        position: absolute;
        left: 10px;
        top: 340px;
        img{
            position: absolute;
            width: 100%;
            left: 0;
        }
        .line{
            width: 2px;
            height: 140px;
        }
    }
    .rightStep{
        width: 540px;
        //iphone5
        @media only screen and (device-width: 320px){
            width: 440px;
            top: 330px;
            right: 30px;
        }
        position: absolute;
        right: 50px;
        top: 350px;
        img{
            width: 100%;
        }
    }
    .down_btn{
        display: block;
        width: 262px;
        position: absolute;
        left: 50%;
        margin-left: -131px;
        top: 12rem;
        @media only screen and (device-width: 320px){
            width: 220px;
            margin-left: -110px;
            top: 10.2rem;
        }
    }
}